/* Strip the ul of padding and list styling */

.wrapper {
    width: 960px;
    max-width: 90%;
    }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    }
    
    li {
        display: inline-block;
        float: left;
        margin-right: 1px;
    }
    /* Style for menu links */
    li a {
        display: block;
        min-width: 140px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white;
        background: #DF0174;
        text-decoration: none;
    }
    /* Hover state for top level links */
    li:hover a {
        background: #0489B1;
    }
    /* Style for dropdown links */
    li:hover ul li a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
    }
    /* Hover state for dropdown links */
    li:hover ul li a:hover {
        background: #0489B1;
        color: white;
    }
    /* Hide dropdown links until they are needed */
    li ul {
        display: none;
    }
    /* Make dropdown links vertical */
    li ul li {
        display: block;
        float: none;
    }
    /* Prevent text wrapping on dropdown links */
    li ul li a {
        width: auto;
        min-width: 100px;
        padding: 0 20px;
    }
    /* Display the dropdown links on hover */
    ul li a:hover + .hidden, .hidden:hover {
        display: block;
    }
    /* Hide checkbox */
    input[type=checkbox] {
        display: none;
    }
    /* Show menu when invisible checkbox is checked */
    input[type=checkbox]:checked ~ #menu {
        display: blocK;
    }
    .show-menu {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-decoration: none;
        color: white;
        background: #DF0174;
        text-align: center;
        padding: 10px 0;
        display: none;
    }
    /* Responsive Styles */
    @media screen and(max-width: 760px) {
        /* Make dropdown links appear links */
        ul {
            position: static;
            display: none;
        } 
    /* Create vertical spacing */
    li {
        margin-bottom: 1px;
    }
    /* Make all menu links full width */
    ul li, li a {
        width: 100%;
    }
    .show-menu {
        display: block;
    }

    body {
        background-image: none;
    }
}

body {
 background-color: azure;   
}

.slide-container { 
    width: 640px;
        height: 426px;
        padding-top: 80px;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        text-align: center;
        z-index: 0;
        }
        
        
        .image-container {
        width: 1920px; 
        height: 426px;
        position: relative;
        transition: left 2s;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        }
        
        .slider-image {
        float: left;
        margin: 0px;
        padding: 0px;
        }
        
        .button-container {
        top: -20px;
        position: relative;
        }
        
        .slider-button {
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background-color: white; 
        }
        
        #slider-image-1:target ~ .image-container {
        left: 0px; 
        }
        
        #slider-image-2:target ~ .image-container {
        left: -640px;
        }
        
        #slider-image-3:target ~ .image-container {
        left: -1280px;
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    
    
    
    
    
    
    
    
    
    
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
      
    
    
    
    
    
    
    
    
    
    
    
    
    